/**
* Color values (based on colors from http://flatuicolors.com)
*
*/

//black & white

$black: #000;
$gray: #888;
$white: #fff;

//blue-greens

$turquoise: #1abc9c;
$turquoise_shadow: darken($turquoise, 15%);

$green_sea: #16a085;
$green_sea_shadow: darken($green_sea, 15%);

//greens

$emerald: #2ecc71;
$emerald_shadow: darken($emerald, 15%);

$nephritis: #27ae60;
$nephritis-shadow: darken($nephritis, 15%);

//blues

$peter_river: #3498db;
$peter_river_shadow: darken($peter_river, 15%);

$belize_hole: #2980b9;
$belize_hole_shadow: darken($belize_hole, 15%);

//purples

$amethyst: #9b59b6;
$amethyst_shadow: darken($amethyst, 15%);

$wisteria: #8e44ad;
$wisteria_shadow: darken($wisteria, 15%);

//dark-blues

$wet_asphalt: #34495e;
$wet_asphalt_shadow: darken($wet_asphalt, 15%);

$midnight_blue: #2c3e50;
$midnight_blue_shadow: darken($midnight_blue, 15%);

//yellows

$sunflower: #f1c40f;
$sunflower_shadow: darken($sunflower, 15%);

$orange: #f39c12;
$orange_shadow: darken($orange, 15%);

//oranges

$carrot: #e67e22;
$carrot_shadow: darken($carrot, 15%);

$pumpkin: #d35400;
$pumpkin_shadow: darken($pumpkin, 15%);

//reds

$alizarin: #e74c3c;
$alizarin_shadow: darken($alizarin, 15%);

$pomegranate: #c0392b;
$pomegranate_shadow: darken($pomegranate, 15%);

//light-grays

$clouds: #ecf0f1;
$clouds_shadow: darken($clouds, 15%);

$silver: #bdc3c7;
$silver_shadow: darken($silver, 15%);

//dark-grays

$concrete: #95a5a6;
$concrete_shadow: darken($concrete, 15%);

$asbestos: #7f8c8d;
$asbestos_shadow: darken($asbestos, 15%);

/**
* Misc mixins
*
*/

@mixin box-shadow($c) {
    box-shadow: -4px 4px 0 $c;
}

@mixin border-radius($r) {
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    -ms-border-radius: $r;
    border-raduis: $r;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin active() {
    &:active {
        position: relative;
        top: 4px;
        left: -4px;
        box-shadow: none;
    }
}

/**
* Colors
*
*/

@mixin color($bg, $bg_shadow, $text) {
    background-color: $bg;
    color: $text;
    @include box-shadow($bg_shadow);
    @include active();
}

.turquoise {
    @include color($turquoise, $turquoise_shadow, $white);
}

.green-sea {
    @include color($green_sea, $green_sea_shadow, $white);
}

.emerald {
    @include color($emerald, $emerald_shadow, $white);
}

.nephritis {
    @include color($nephritis, $nephritis-shadow, $white);
}

.peter-river {
    @include color($peter_river, $peter_river_shadow, $white);
}

.belize-hole {
    @include color($belize_hole, $belize_hole_shadow, $white);
}

.amethyst {
    @include color($amethyst, $amethyst_shadow, $white);
}

.wisteria {
    @include color($wisteria, $wisteria_shadow, $white);
}

.wet-asphalt {
    @include color($wet_asphalt, $wet_asphalt_shadow, $white);
}

.midnight_blue {
    @include color($midnight_blue, $midnight_blue_shadow, $white);
}

.sunflower {
    @include color($sunflower, $sunflower_shadow, $white);
}

.orange {
    @include color($orange, $orange_shadow, $white);
}

.carrot {
    @include color($carrot, $carrot_shadow, $white);
}

.pumpkin {
    @include color($pumpkin, $pumpkin_shadow, $white);
}

.alizarin {
    @include color($alizarin, $alizarin_shadow, $white);
}

.pomegranate {
    @include color($pomegranate, $pomegranate_shadow, $white);
}

.clouds {
    @include color($clouds, $clouds_shadow, $gray);
}

.silver {
    @include color($silver, $silver_shadow, $white);
}

.concrete {
    @include color($concrete, $concrete_shadow, $white);
}

.asbestos {
    @include color($asbestos, $asbestos_shadow, $white);
}

/**
* Circles
*
*/

@mixin circle($s) {
    @include border-radius(100%);
    @include size($s, $s);
    border: none;
    outline: none;
}

.circle-xs {
    @include circle(25px);
}

.circle-sm {
    @include circle(50px);
}

.circle-med {
    @include circle(100px);
}

.circle-lg {
    @include circle(150px);
}

.circle-xl {
    @include circle(200px);
}

/**
* Squares
*
*/

@mixin square($s) {
    @include border-radius(10px);
    @include size($s, $s);
    border: none;
    outline: none;
}

.square-xs {
    @include square(25px);
}

.square-sm {
    @include square(50px);
}

.square-med {
    @include square(100px);
}

.square-lg {
    @include square(150px);
}

.square-xl {
    @include square(200px);
}

/**
* Rectangles
*
*/

@mixin rect($w, $h) {
    @include border-radius(10px);
    @include size($w, $h);
    border: none;
    outline: none;
}

.rect-xs {
    @include rect(45px, 15px);
}

.rect-sm {
    @include rect(75px, 25px);
}

.rect-med {
    @include rect(150px, 50px);
}

.rect-lg {
    @include rect(225px, 75px);
}

.rect-xl {
    @include rect(300px, 100px);
}
