/**
* Buttons
* by Ty-Lucas Kelley
*
* colors: based on http://flatuicolors.com/
*/

//black & white

$black: #000;
$gray: #777;
$white: #fff;

//blue-greens

$turquoise: #1abc9c;
$turquoise_bg: darken($turquoise, 15%);

$green_sea: #16a085;
$green_sea_bg: darken($green_sea, 15%);

//greens

$emerald: #2ecc71;
$emerald_bg: darken($emerald, 15%);

$nephritis: #27ae60;
$nephritis_bg: darken($nephritis, 15%);

//blues

$peter_river: #3498db;
$peter_river_bg: darken($peter_river, 15%);

$belize_hole: #2980b9;
$belize_hole_bg: darken($belize_hole, 15%);

//purples

$amethyst: #9b59b6;
$amethyst_bg: darken($amethyst, 15%);

$wisteria: #8e44ad;
$wisteria_bg: darken($wisteria, 15%);

//dark-blues

$wet_asphalt: #34495e;
$wet_asphalt_bg: darken($wet_asphalt, 15%);

$midnight_blue: #2c3e50;
$midnight_blue_bg: darken($midnight_blue, 15%);

//yellows

$sunflower: #f1c40f;
$sunflower_bg: darken($sunflower, 15%);

$orange: #f39c12;
$orange_bg: darken($orange, 15%);

//oranges

$carrot: #e67e22;
$carrot_bg: darken($carrot, 15%);

$pumpkin: #d35400;
$pumpkin_bg: darken($pumpkin, 15%);

//reds

$alizarin: #e74c3c;
$alizarin_bg: darken($alizarin, 15%);

$pomegranate: #c0392b;
$pomegranate_bg: darken($pomegranate, 15%);

//light-grays

$clouds: #ecf0f1;
$clouds_bg: darken($clouds, 15%);

$silver: #bdc3c7;
$silver_bg: darken($silver, 15%);

//dark-grays

$concrete: #95a5a6;
$concrete_bg: darken($concrete, 15%);

$asbestos: #7f8c8d;
$asbestos_bg: darken($asbestos, 15%);
