/**
* Buttons
* by Ty-Lucas Kelley
*
* shapes & sizes
*/

//imports

@import '_colors';
@import '_utilities';

//shape mixins

@mixin shape($w, $h, $r) {
    @include size($w, $h);
    @include border-radius($r);
    outline: none;
    border: none;
    a > & {
        line-height: $h;
        text-align: center;
    }
    & {
        cursor: pointer;
    }
}

@mixin circle($s) {
    @include shape($s, $s, 100%);
}

@mixin square($s) {
    @include shape($s, $s, 8%);
}

@mixin rect($w, $h, $r) {
    @include shape($w, $h, $r);
}

//circles

@mixin circle-xs($color, $bg, $text_color) {
    @include circle(25px);
    @include color($color, $bg, $text_color, 2px);
}

@mixin circle-sm($color, $bg, $text_color) {
    @include circle(50px);
    @include color($color, $bg, $text_color, 3px);
}

@mixin circle-md($color, $bg, $text_color) {
    @include circle(100px);
    @include color($color, $bg, $text_color, 3px);
}

@mixin circle-lg($color, $bg, $text_color) {
    @include circle(150px);
    @include color($color, $bg, $text_color, 4px);
}

@mixin circle-xl($color, $bg, $text_color) {
    @include circle(200px);
    @include color($color, $bg, $text_color, 5px);
}

//squares

@mixin square-xs($color, $bg, $text_color) {
    @include square(25px);
    @include color($color, $bg, $text_color, 2px);
}

@mixin square-sm($color, $bg, $text_color) {
    @include square(50px);
    @include color($color, $bg, $text_color, 3px);
}

@mixin square-md($color, $bg, $text_color) {
    @include square(100px);
    @include color($color, $bg, $text_color, 3px);
}

@mixin square-lg($color, $bg, $text_color) {
    @include square(150px);
    @include color($color, $bg, $text_color, 4px);
}

@mixin square-xl($color, $bg, $text_color) {
    @include square(200px);
    @include color($color, $bg, $text_color, 5px);
}

//rects

@mixin rect-xs($color, $bg, $text_color) {
    @include rect(60px, 15px, 4px);
    @include color($color, $bg, $text_color, 2px);
}

@mixin rect-sm($color, $bg, $text_color) {
    @include rect(120px, 30px, 6px);
    @include color($color, $bg, $text_color, 3px);
}

@mixin rect-md($color, $bg, $text_color) {
    @include rect(180px, 45px, 8px);
    @include color($color, $bg, $text_color, 3px);
}

@mixin rect-lg($color, $bg, $text_color) {
    @include rect(240px, 60px, 10px);
    @include color($color, $bg, $text_color, 4px);
}

@mixin rect-xl($color, $bg, $text_color) {
    @include rect(320px, 75px, 12px);
    @include color($color, $bg, $text_color, 5px);
}
