/**
* Buttons
* by Ty-Lucas Kelley
*
* mixins & functions
*/

@mixin box-shadow($size, $color) {
    box-shadow: (-$size) $size 0 $color;
}

@mixin border-radius($r) {
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    -ms-border-radius: $r;
    border-raduis: $r;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin pushed($box_size) {
    &:active {
        position: relative;
        top: $box_size;
        left: (-$box_size);
        box-shadow: none;
    }
}

@mixin color($color, $bg, $text_color, $box_size) {
    background-color: $color;
    color: $text_color;
    @include box-shadow($box_size, $bg);
    @include pushed($box_size);
}
