// black & white

$black: #000;
$gray: #777;
$white: #fff;

// blue-greens

$turquoise: #1abc9c;
$turquoise-bg: darken($turquoise, 15%);

$green-sea: #16a085;
$green-sea-bg: darken($green-sea, 15%);

// greens

$emerald: #2ecc71;
$emerald-bg: darken($emerald, 15%);

$nephritis: #27ae60;
$nephritis-bg: darken($nephritis, 15%);

// blues

$peter-river: #3498db;
$peter-river-bg: darken($peter-river, 15%);

$belize-hole: #2980b9;
$belize-hole-bg: darken($belize-hole, 15%);

// purples

$amethyst: #9b59b6;
$amethyst-bg: darken($amethyst, 15%);

$wisteria: #8e44ad;
$wisteria-bg: darken($wisteria, 15%);

// dark-blues

$wet-asphalt: #34495e;
$wet-asphalt-bg: darken($wet-asphalt, 15%);

$midnight-blue: #2c3e50;
$midnight-blue-bg: darken($midnight-blue, 15%);

// yellows

$sunflower: #f1c40f;
$sunflower-bg: darken($sunflower, 15%);

$orange: #f39c12;
$orange-bg: darken($orange, 15%);

// oranges

$carrot: #e67e22;
$carrot-bg: darken($carrot, 15%);

$pumpkin: #d35400;
$pumpkin-bg: darken($pumpkin, 15%);

// reds

$alizarin: #e74c3c;
$alizarin-bg: darken($alizarin, 15%);

$pomegranate: #c0392b;
$pomegranate-bg: darken($pomegranate, 15%);

//light-grays

$clouds: #ecf0f1;
$clouds-bg: darken($clouds, 15%);

$silver: #bdc3c7;
$silver-bg: darken($silver, 15%);

//dark-grays

$concrete: #95a5a6;
$concrete-bg: darken($concrete, 15%);

$asbestos: #7f8c8d;
$asbestos-bg: darken($asbestos, 15%);
